.splide__pagination{
	width: fit-content;
	height: fit-content;
	position: absolute;
	bottom: -25px !important;
	left: 0px !important;
}
.splide__pagination__page.is-active{
	background: red !important;
}